*

!afm
!afm/**
!energy
!energy/**
!plots
!plots/verification/*.plt
!verification
!verification/**
!production
!production/**
!reader
!reader/**
!.gitignore
!deps
!deps/**
!.gitmodules
!CMakeLists.txt
!writer
!writer/**
!aggregates
!aggregates/**
